<!DOCTYPE html>
<html>
<head>
	<title>Liên Hệ</title>
	<link rel="stylesheet"  href="cssFilelienhe.css">
</head>
<body id="content">
	<div>
	<div id="lienhe">Thông Tin & Liên Hệ</div>
	<div id="lienhe">TeamWork2019</div>

	<h2>Các thành viên trong nhóm:</h2>
	<div>
		<ul>
			<li> Bùi Tiến Duy</li>
			<li> Nguyễn Vũ Đông</li>
			<li> Dư Đình Doanh</li>
			<li> Dương Ngọc Linh</li>
			<li> Đinh Minh Khang</li>
		</ul>
	</div>
	<h3 id="comp">Mọi chi thắc mắc hãy gửi vào địa chỉ email dưới đây!</h3>
	<h3 id="comp">Gmail nhóm:  teamwork2019@gmail.com </h3>
	<h3 id="copyright">&copy Copyright  Team KDDĐL Trường Đại học Công Nghê - ĐHQG Hà Nội</h3>
	</div>

</body>
</html>
