<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body >
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu">
   <a class="nav-link" href="Trangchu.html">Trang chủ</a>
   <a class="nav-link" href="Luyentap.html">Luyện Tập</a>
   <a class="nav-link" href="Kiemtra.html">Kiểm Tra</a>
   <a class="nav-link" href="Giaitri.html">Giải Trí</a>
   <a class="nav-link" href="Lienhe.html">Liên Hệ</a>
</nav>
    <h1 style="font-size: 40px; text-align: center;" > Đề số 1 </h1>
    <div class="container">
        <br>
        <br>
         <div id ="box" style="float:left ;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Thực hiện phép toán sau :</p>
               <p style="font-size: 50px ;text-align: center;  "> 7 + 8 = ?</p>
               <p style="text-align: center; font-size: 30px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  
        <div id ="output" > 
           <h2><p style="text-align:right; color: black; font-size: 30px;"></p></h2>
            <div id="point" style="float:right; height: 150px; width: 150px; border :2px solid blue;">
              <p style="font-size: 50px ;text-align: center; color:red;  "> Điểm</p>
              <script type="text/javascript">
                document.getElementById('c1').value; 
              
              </script>

           </div>  

    </div>

    <div>
        
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               
              <p style="font-size: 30px ;text-align: center;  "> Có bao nhiêu chén trong bức ảnh</p>
              <div class = "box">
               <img src=C:\Users\DELL\Desktop\bttl\images\10chen.PNG width = "250px" height ="auto" class = "centerpicture"/>
              </div>
              <br>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  
        

              </script>

           </div>  

    </div>  

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Thực hiện phép toán sau :</p>
               <p style="font-size: 45px ;text-align: center;  "> 13 + 25 = ? </p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  

              </script>

           </div>  

    </div>  

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Viết số theo cách đọc sau : </p>
               <p style="font-size: 40px ;text-align: center;  "> " Ba mươi sáu "</p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  

              </script>

           </div>  

    </div>  

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Điền số thích hợp</p>
               <p style="font-size: 40px ;text-align: center;  "> Số liền trước của 24 là : </p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  

              </script>

           </div>  

    </div>  

    <div class="container">
        
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
          <p style="font-size: 30px ;text-align: center;  "> Có bao nhiêu con thỏ trong bức ảnh</p>
              <div class = "box">
               <img src=C:\Users\DELL\Desktop\bttl\images\3nam4tho.jpg width = "200px" height ="auto" class = "centerpicture"/>
              </div>
              
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  
        

              </script>

           </div> 

    </div>  

    <div class="container">
        
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               
              <p style="font-size: 30px ;text-align: center;  "> Đây là hình gì ?</p>
              <div class = "box">
               <img src=C:\Users\DELL\Desktop\bttl\images\tamgiac8.PNG width = "100px" height ="auto" class = "centerpicture"/>
              </div>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  
        

              </script>

           </div>  

    </div>  

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Số nào lớn nhất trong các số sau : </p>
               <p style="font-size: 45px ;text-align: center;  "> 13, 25,28,39,40 ? </p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
                
               </p>   
           </div>  

              </script>

           </div>  

    </div> 

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Thực hiện phép toán sau : </p>
               <p style="font-size: 45px ;text-align: center;  "> 39 - 11 =? </p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
               </p>   
           </div>  

              </script>

           </div>  

    </div> 

    <div class="container">
        
         <div id ="box" style="float: left;height:250px; width:700px; border:2px solid blue; ">
               <p style="font-size: 30px ;text-align: center;  "> Thực hiện phép toán sau : </p>
               <p style="font-size: 45px ;text-align: center;  "> 27 + 18 - 13 =? </p>
               <p style="text-align: center; font-size: 35px ">Kết quả :
                <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >
               </p>   
           </div>  

              </script>

           </div>  

    </div> 

</body>
</html>