<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body >
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu">
   <a class="nav-link" href="Trangchu.html">Trang chủ</a>
   <a class="nav-link" href="Luyentap.html">Luyện Tập</a>
   <a class="nav-link" href="#focus">Kiểm Tra</a>
   <a class="nav-link" href="#entertainment">Giải Trí</a>
   <a class="nav-link" href="Lienhe.html">Liên Hệ</a>
</nav>
    <h1 style="font-size: 40px; text-align: center;" > Đếm đến 10 </h1>
    <div class="container">
        <div id = "require"> 
            <h2> 
                <p style="color: black; font-size: 30px;">Điền số thích hợp vào ô trống</p> 
            </h2>
        </div>
        <div id ="box" style="float: left;height:400px; width:600px; border:2px solid blue; ">
            <button id="demo" style="font-size:20px;">Kiểm tra</button>
        </div>  
        <div id ="output" > 
           <h2>
               <p style="text-align: center; color: black; font-size: 30px;">Số sao đạt được</p>
            </h2>
            <div id="point" style="float:right; height: 310px; width: 420px; border :2px solid blue;">   
        </div>  

       <div id= "nextPage" > </div>
    </div>  
</body>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script>
    var dataQuery;
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:3000/demo',
            type: 'GET',
            dataType: 'json',
            crossDomain: false,
            cache: false,
            success: function (data) {
                dataQuery = data;
                var element = document.getElementById("box");
                element.innerHTML =
                    '<p style="font-size: 100px ;text-align: center;  ">' + dataQuery.question + '</p>' +
                    '<p style="text-align: center; font-size: 40px ">Kết quả :' +
                    '<input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser" >' +
                    '<button id="button" style="font-size:20px;" >Kiểm tra</button>' +
                    '</p>';
                console.log(dataQuery);
            },
            error: function () { alert('Failed!') },
        });
        setTimeout(function(){
            $("button").on("click",function(){ //setTimeout để ngăn hàm chạy trước khi đối tượng được khởi tạo
                var element = $('input').val();
                if(element === dataQuery.result){
                    alert('True')
                }
                else if(element != dataQuery.result && element != false) {
                    alert('False')
                }
                else if(element == null){
                    alert('Please type your answer')
                }

            })
        },1000)
    });
    
</script>
</html>