<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background: url(https://mishilpatel.files.wordpress.com/2011/11/betweengrassandsky3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu">
   <a class="nav-link" href="Trangchu.html">Trang chủ</a>
   <a class="nav-link" href="Luyentap.html">Luyện Tập</a>
   <a class="nav-link" href="Kiemtra.html">Kiểm Tra</a>
   <a class="nav-link" href="Giaitri.html">Giải Trí</a>
   <a class="nav-link" href="Lienhe.html">Liên Hệ</a>
</nav>


 <div  style="height: 60px" >
   
 </div>
<div class="container-fluid"  > 
 
 <div class="row row-style">

   <div class="col-sm-6 col-left">

   <h2><a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam" target="blank">Truyện ngắn</a></h2> 
   <div class="list-group" style="color: blue; size: 20px;">
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam/ba-luoi-riu.html" target="blank" class="list-group-item list-group-item-action">Ba lưỡi rìu</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam/su-tich-hoa-sen.html" target="blank" class="list-group-item list-group-item-action list-group-item-success">Sự tích hoa sen</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam/mieng-trau-ky-dieu.html" target="blank" class="list-group-item list-group-item-action list-group-item-secondary">Miếng trầu kì diệu</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam/cau-be-tich-chu.html" target="blank" class="list-group-item list-group-item-action list-group-item-info">Sự tích Tích Chu</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-viet-nam/bat-canh-he.html" target="blank" class="list-group-item list-group-item-action list-group-item-warning">Bát canh hẹ</a>
   <a href="truyencotich.vn/truyen-co-tich/co-tich-viet-nam/an-khe-tra-vang.html" target="blank" class="list-group-item list-group-item-action list-group-item-danger">Ăn khế trả vàng</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-the-gioi/con-coc-khong-vang-loi.html" target="blank" class="list-group-item list-group-item-action list-group-item-primary">Con cóc không vâng lời</a>
   <a href="http://truyencotich.vn/truyen-co-tich/co-tich-the-gioi/co-be-hai-mat.html" target="blank" class="list-group-item list-group-item-action list-group-item-dark">Cô bé hai mắt</a>
   
   </div>
   </div>

   <div class="col-sm-6 col-right">
    <h2><a href="https://www.youtube.com/channel/UCGk3yw5k_xQUS_KSDCC6Nhw/videos" target="blank">Quà tặng cuộc sống</a></h2>
     <div class="list-group">
   <a href="https://www.youtube.com/watch?v=OjiXYFaqufU" target="blank" class="list-group-item list-group-item-action">Mừng sinh nhật</a>
   <a href="https://www.youtube.com/watch?v=_XyfuoA4ewQ" target="blank" class="list-group-item list-group-item-action list-group-item-success">Ăn cơm với muối</a>
   <a href="https://www.youtube.com/watch?v=Llr5vMByRaw" target="blank" class="list-group-item list-group-item-action list-group-item-secondary">Thư của bố</a>
   <a href="https://www.youtube.com/watch?v=0pXXMimkN9E" target="blank" class="list-group-item list-group-item-action list-group-item-info">Tấm vé tuổi thơ</a>
   <a href="https://www.youtube.com/watch?v=60o5PqwIAjM" target="blank" class="list-group-item list-group-item-action list-group-item-warning">Lời nói dối</a>
   <a href="https://www.youtube.com/watch?v=6rCxWT93bqc" target="blank" class="list-group-item list-group-item-action list-group-item-danger">Sao băng</a>
   <a href="https://www.youtube.com/watch?v=hK2o8ciHtDA" target="blank" class="list-group-item list-group-item-action list-group-item-primary">Trái tim của bố</a>
   <a href="https://www.youtube.com/watch?v=M5qOfb1Lk84" target="blank" class="list-group-item list-group-item-action list-group-item-dark">Lớp học hi vọng</a>
  
   </div>
   </div>

</div>
</div>
<div style="height: 30px;" ></div>
 <div id="footer" style="text-align: center; color: black; background-color: white"> <h4> Chúc các em học tập vui vẻ! </h4> </div>
</body>
</html>