<!DOCTYPE html>
<html>
<head>
    <title> Luyện Tập</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fileCSS.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu" >
   <a class="nav-link" href="Trangchu.html">Trang chủ</a>
   <a class="nav-link" href="Luyentap.html">Luyện Tập</a>
   <a class="nav-link" href="Kiemtra.html">Kiểm Tra</a>
   <a class="nav-link" href="Giaitri.html">Giải Trí</a>
   <a class="nav-link" href="Lienhe.html">Liên Hệ</a>
</nav>
<div class="container"  style="text-align: center;" >
  <h2 style="font-family: sans-serif; color: blue; text-align: center;">Đề kiểm tra môn Toán</h2>
  
  <div class="row">
   <div class="col-sm-3 "> </div> 

   <div class="col-sm-6" style="font-size: 20px;">
             <div class="panel panel-primary panel-body"style = " width: 500px;  ">
             <div class="panel-body" style = "height : 45px;  "><a href="De1.html">Đề số 1</a></div>
             </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px;"><a href="#">Đề số 2</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px;">
              <div class="panel-body" style = "height : 45px;"><a href="#">Đề số 3</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px;"><a href="#">Đề số 4</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px; "><a href="#">Đề số 5</a></div>
              </div>
   </div>
 </div> 
 <div style="height: 30px;" ></div>
 <div id="footer" style="text-align: center; color: black; background-color: gray"> <h4> Chúc các em học tập vui vẻ! </h4> </div>
</div>


<script type="text/javascript" src="C:\Users\NguyenDong\Desktop\StudyatSchool\Học kì 2 năm 2\Công nghệ phần mềm\BTL-CNPM\jquery-3.3.1.min.js"></script>
</body>
</html>