<!DOCTYPE html>
<html>
<head>
    <title>Kiểm tra</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fileCSS.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background: url(https://mishilpatel.files.wordpress.com/2011/11/betweengrassandsky3.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu" >
   <a class="nav-link" href="Trangchu.ejs">Trang chủ</a>
   <a class="nav-link" href="Luyentap.ejs">Luyện Tập</a>
   <a class="nav-link" href="Kiemtra.ejs">Kiểm Tra</a>
   <a class="nav-link" href="Giaitri.ejs">Giải Trí</a>
   <a class="nav-link" href="Lienhe.ejs">Liên Hệ</a>
</nav>
<div class="container"  style="text-align: center;" >
  <h2 style="font-family: sans-serif; color: blue; text-align: center;">Đề kiểm tra môn Toán</h2>
  
  <div class="row">
   <div class="col-sm-3 "> </div> 

   <div class="col-sm-6" style="font-size: 20px;">
             <div class="panel panel-primary panel-body"style = " width: 500px;  ">
             <div class="panel-body" style = "height : 45px;  "><a href="De1.ejs">Đề số 1</a></div>
             </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px;"><a href="De2.ejs">Đề số 2</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px;">
              <div class="panel-body" style = "height : 45px;"><a href="De3.ejs">Đề số 3</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px;"><a href="De4.ejs">Đề số 4</a></div>
              </div>

              <div class="panel panel-primary panel-body"style = "width: 500px; ">
              <div class="panel-body" style = "height : 45px; "><a href="De5.ejs">Đề số 5</a></div>
              </div>
   </div>
 </div> 
 <div style="height: 30px;" ></div>
 
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</body>
</html>