<!DOCTYPE html>
<html>
<head>
    <title> Luyện Tập</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="fileCSS.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-start sticky-top" id="my-menu">
   <a class="nav-link" href="Trangchu.html">Trang chủ</a>
   <a class="nav-link" href="Luyentap.html">Luyện Tập</a>
   <a class="nav-link" href="Kiemtra.html">Kiểm Tra</a>
   <a class="nav-link" href="Giaitri.html">Giải Trí</a>
   <a class="nav-link" href="Lienhe.html">Liên Hệ</a>
</nav>
<div class="container-fluid">
        <div class="toan" style="font-size: 45px; text-align: center; color: blue  ">
        <p id="tieude">Luyện tập</p>
        </div>
        
        <div class="row row-style" >
            <div class="col-sm-6 col-left">
                <div class="chuong1 khoi" style="border:0.5px solid black;">
                    <h2>Các số đến 10, hình học cơ bản - Chương 1</h2>
                    <ul>
                        <li><a href="#">Đếm đến 10</a></li>
                        <li><a href="#">Hình học cơ bản</a></li>
                    </ul>
                </div>
                <br><br>
                <div class="chuong3 khoi" style="border:0.5px solid black;">
                    <h2>Các số trong phạm vi 100 - Chương 3   </h2>
                    <ul>
                        <li><a href="#">Nhận diện mặt chữ các số từ 10 đến 100</a></li>
                        <li><a href="#">Nhớ các số từ 1-100</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-right">
                <div class="chuong2 khoi" style="border:0.5px solid black;">
                    <h2>Phép cộng, trừ trong phạm vi 10 - Chương 2</h2>
                    <ul>
                        <li><a href="Congphamvi10.html">Phép cộng trong phạm vi 10</a></li>
                        <li><a href="#">Phép trừ trong phạm vi 10</a></li>
                        <li><a href="#">Tích hợp cộng trừ</a></li>
                    </ul>
                </div>
                <br><br>
                <div class="chuong4 khoi" style="border:0.5px solid black;" >
                    <h2>Phép cộng trừ phạm vi 100 - Chương 4</h2>
                    <ul>
                        <li><a href="#">Phép cộng trong phạm vi 100</a></li>
                        <li><a href="#">Phép trừ trong phạm vi 100</a></li>
                        <li><a href="#">Biểu thức tích hợp</a></li>
                    </ul>
                </div>
            </div> 
        </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</body>
</html>