<!DOCTYPE html>
<html lang="en">
<head>              
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="box" style="float: left;height:400px; width:600px; border:2px solid blue; ">
        <p style="text-align: center; font-size: 40px "> Kết quả:</p>
        <input id="c1" style="border : 1px solid black; text-align:center;" type="text" name="anwser"></input>
        <button id ="check" style="font-size:20px;">Kiểm tra</button>
    </div>
    
</body>


<script src="../jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: 'http://localhost:3000/demo',
            type: 'GET',
            dataType: 'json',
            crossDomain: false,
            cache: false,
            success: function (data) {    
                var element = document.getElementById('box');
                element.innerHTML += '<p style="font-size: 100px ;text-align: center;  ">' + data.question+'</p>';
                console.log(data)
            },
            error: function() { alert('Failed!')}
        });

        $('p').click(function(){
            alert("Clicked");
        })
    });


</script>
</html>